body {
  min-width: 400px;
  display:flex;
  flex-direction:column;
}
.separator_line {
  border-bottom:1px solid rgb(200, 200, 200)
}
.nav {
  text-align: right;
  padding-right: 30px;
}
a {
  color:black
}
.header {
  color:#d93025;
  font-size: 20px;
  margin:25px 25px;
}
.header2 {
  font-size:20px;
  margin-left: 25px;
  font-weight:lighter
}
.input_box {
  display:flex;
  margin-right:76px;
  max-width:823px;
  flex:1;
  position:relative;
}

.query_container{
  display:flex;
  align-items:center;
  width:100vw;
}

.query_label {
  display:block;
  width:190px;
  padding: 0 0 0 25px;
  font-size:16px
}
.query_input_container{
  background-color: red;
  flex:1;
  margin-right:100px;
  max-width:600px;
  vertical-align: center;
}
.input {
  width:100%;
  height:20px;
  outline:blue
}
.input:focus{
  border: 1px solid rgb(60, 60, 255);
  box-shadow:inset 0px 1px rgb(180, 180, 180)
}
.submit_button {
  position:absolute;
  bottom:-30px;
  right:0px;
  background-color:#357ae8;
  color:white;
  border:none;
  height:30px;
  padding: 5px 10px 5px 10px;
  font-size:11px;
  font-weight: bold;
  border-radius:2px
}
.submit_button:hover{
  background-color:#206ce5;
  cursor:pointer;
}