body {
  min-width:400px;
}
.links {
  height: 20px;
  justify-content:right;
  display: flex;
  background-color: red;
}
a {
  padding-left:20px;
  padding-right:30px
}
.Logo {
  display:flex;
  align-items: center;
  justify-content: center;
  height:250px

}

.Input_wrapper {
  display: flex;
  justify-content: center;
}

.input_field {
  min-width:400px;
  width:auto
}

.button {

}